@layer components {
    .btn {
        @apply font-medium px-4 py-2 rounded-lg transition;
    }

    .btn-primary {
        @apply bg-brand-300 text-white hover:bg-brand-500;
    }

    .btn-secondary {
        @apply bg-gray-200 text-gray-800 hover:bg-gray-300;
    }

}